nav {
    border-style:solid;
    border-color: #333; 
    display: flex; 
    justify-content: space-between; 
    padding: 1rem; 
    margin-bottom: 20px; 
    border-radius: 10px;
  }
  nav ul {
    font-family: Helvetica, sans-serif;
    list-style: none; 
    display: flex; 
  }

  nav ul li {
    margin-right: 20px; 
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
nav ul li a.active { /* not just change color */
    color:#505050;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 2px solid #505050;
}
a.skip-link {
   position: absolute;
            left: -999px;
            top:auto;            width: 1px;
            height: 1px;
            overflow:hidden;
            z-index: -999;
        }
a.skip-link:focus {
            left: auto;
            top: auto;   width: auto;
            height: auto;
            overflow: auto;
     z-index: 999;
            background-color:#FFF; 
            padding: 10px; 
            text-align: center; 
}


body {
    font-family:Helvetica, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6; 
    padding:20px; 
}

h3{
    color: #474582;
}
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2rem; 
    font-family: Helvetica, sans-serif;
  }
  
.travel{
    font-family:Helvetica, sans-serif;
    font-size:100%;
    text-align:center;
    border-radius: 10px;
    border-style: ridge;
    border-color:#474582;

}

/* Let's style our h1 & h2 headers
Make the text centered
Give it a margin of 10px
Font size should be twice the normal size */
h1{
    text-align: center;
    margin: 10px;
    font-size: 250%;
    transition: color 0.5s ease-in-out; 
    color: #333;

font-size: 2.5rem; 
@media(min-width: 768px) {
 font-size: 3.5rem; 
}
    
  }
  h1:hover {
    color:#1800b3;
}
  h2{
    text-align: center;
    margin: 10px;
    font-size: 150%;

 }
  
  /*grid for the images*/
.image-grid {
    display: grid; /*grid container */
    grid-template-columns:repeat(3, 1fr);/* split it standard into 3 */
    grid-gap: 20px;
    padding: 20px;
}

.image-grid img{
    width: 100%;
    height:auto;
    border-radius:5px;
    transition:all 0.3s ease;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}
.image-grid img:hover {
    transform:scale(1.05);
    box-shadow:0 8px 12px rgba(0, 0, 0, 0.2);
}


@media(prefers-reduced-motion: reduce){
    .image-grid img[src$=".gif"],
    .animated{ 
        display: none; 
    }
}

/* Tablet*/
@media (min-width: 768px) {
    nav ul li a {
        font-size: 20px; 
        padding: 12px 18px;
    }
    nav {
        padding: 1.5rem; 
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
    .travel, h1, h2, h3, body {
        font-size: 110%;
    }
    nav ul {
        padding: 0 10px;
    }
    nav ul li {
        margin-right: 15px;
    }
}
